.main-page {
    margin-left: 4%;
    margin-right: 4%;
    background-color: white;
    margin-bottom: 30px;
}

.main-page-mobile {
    background-color: white;
    margin-bottom: 30px;
    margin-top: -20px;
    padding-top: 30px;
}

.page {
    background-color: #373737;
}