.article-title {
    color: black !important;
    font-weight: bold !important;
}

.article-subheading-key {
    margin-right: 5px;
}

.article-subheading-value {
    margin-right: 10px; 
    color: #c1002e;
}

.article-body {
    margin-top: 20px;
}

.article-card-style {
    margin: 10px;
}

.article-votes {
    text-align: left;
    margin-left: -5px;
}