.show-more-button-div {
    text-align: center;
}

.show-more-button {
    background-color: #c1002e;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.article-list-loading-icon {
    color: #c1002e;
    text-align: center;
}