.card-box {
    margin: 10px;
}

.card-header-style {
    background-color: #c1002e;
    min-height: 50px;
    max-height: 100px;
    width: 100%;
}

.card-header-title {
    color: white !important;
}

.user-list-card-number {
    color: black;
    font-size: 16px;
}

.user-list-image {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.user-list-username-text {
    color: #c1002e;
    font-weight: 600;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 5px;
}

.user-list-card-ranking-number {
    color: black;
    font-weight: 800;
    font-size: 16px;
}

.mini-card {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 5px;
}

.dropdown-button {
    border: 0;
    margin-right: 10px;
}

.cancel {
    color: #c1002e;
    font-weight: 500;
}