.card-box {
    margin: 10px;
}

.background {
    background-color: #373737;
    height: 80px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

.user-card-avatar {
    height: 60px;
    border-radius: 50px;
    margin-top: 10px;
}

.user-card-name {
    color: #c1002e;
    font-size: 18px;
    font-weight: strong;
}

.user-card-username {
    color: grey;
    font-size: 14px;
}

.user-card-mini-title {
    margin-top: 10px;
    color: #373737;
    font-size: 12px;
    text-align: center;
}

.user-card-number {
    color: #c1002e;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}